.eerste {
    background-color: black;
    color: lime;
    text-align: center;
}

.head1 {
    font-size: 40px;
    font-weight: bold;
    padding: 30px 0px;
    margin: 20px 0px;
    border-top: lime 5px solid;
    border-bottom: lime 5px solid;
}

.foot1 {
    font-size: 12px;
    font-style: italic;
    padding: 10px 40px;
    margin: 20px 0px;
    text-align: right;
    border-top: lime 5px solid;
}

ul {
    list-style-type: none;
    padding: 10px 20px;
}

li {
    padding: 10px;
}

li a {
    text-decoration: none;
    font-size: 22px;
    color: lime;
    padding: 0;
}

li:hover {
    background-color: lime;
}

li:hover a {
    color: black;
}

@media (min-width: 1024px) {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}